<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091448795452-5v59kdf6c6d9rh5e22fvlgqepf5g5jfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091448795452-5v59kdf6c6d9rh5e22fvlgqepf5g5jfc</string>
	<key>API_KEY</key>
	<string>AIzaSyDvHDJdSYcKKTo6P1n_8A4-6z8Y65ZrFjU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091448795452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carApp</string>
	<key>PROJECT_ID</key>
	<string>car-rental-app-1790f</string>
	<key>STORAGE_BUCKET</key>
	<string>car-rental-app-1790f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091448795452:ios:4c98ff70b8a05ab8d8ee39</string>
</dict>
</plist>